*{
  font-family: "微软雅黑";
  font-size: 14px;
}
a{
  color: #204fe6;
}

.aDiv13 {
    margin-top: 50px;
}
.aDiv13 h3{
  font-size: 27px;
  text-align: center;
  padding-left: 30px;
}
.aDiv14{
  margin-top: 57px !important;
  width: 26%;
  margin: 0px auto;
}
.aDiv15{
  width: 26%;
  margin: 18px auto;
  text-indent: 1em;
}
.aDiv16{
  width: 26%;
  margin: 0px auto;
}
.inp{
  height: 30px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  outline: none;
  text-indent: 5px;
  width: 70%;
}
@media screen and (min-width: 992px) and (max-width: 1200px){
  .inp{
    width: 160px;
  }
  .container2{
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .inp{
    width: 105px;
  }
}

.aDiv17{
  width: 26%;
  margin: 57px auto;
}
.sub{
  background-color: #4175dd;
  border: none;
  width: 39%;
  height: 32px;
  border-radius: 5px;
  color: white;
  outline: none;
  font-size: 16px;
}
.sub:hover{
  background-color: #497fec;
}
.sub3{
  width: 39%;
  height: 32px;
  background-color: white;
  border: 1px solid #9e9e9e;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  float: right;
}
.sub3:hover{
  background-color: #e6e6e6;
}

/*footer*/
.footer {
  width: 100%;
  margin: 183px auto;
  margin-bottom: 0px !important;
  background-color: #EEEEEE;
  border-bottom: 2px solid #D4E5F8;
  /*background: url(../images/footer.gif) repeat-x;*/
}
.footer_div {
  height: 100px;
  text-align: center;
  padding-top: 43px;
  color: #2B2B2B;
  line-height: 22px;
  /*background: url(../images/footer1.png) no-repeat;*/
}
